<ul >
  {{#events}}
        <tr>
            <td> {{ id }} </td>
            <td> <h3>{{ title }}</h2> </td>
            <td> <p>{{ description }}</p> </td>
            <td> {{ company }} </td>
            <td> <button type="button" class="btn btn-primary">Like</button> </td>
            <td>
                {{#comment}}
                    {{comment}}
                {{/comment}}
                <form action="/addComment" method="post">
                    <input name="comment" type="text" />
                    <input name="Save" type="submit" value="Comment"/>
                </form>
            </td>
            <td>      
                <form action="/addResume" method="POST">
                    <input type="file" id="myFile" name="filename">
                    <input type="submit">
                </form>
            </td>
        </tr>
  {{/events}}
</ul>